received-chats-img {
    display: inline-block;
    width: 50px;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received-msg-box {
    width: 57%;
}

.received-msg-box p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}
p {
    overflow-wrap: break-word;
}

/* Styling the msg-sent time  */
.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-msg-box p {
    background-color: #3a12ff;
    background-image: linear-gradient(
        45deg,
        #ee087f 0%,
        #dd2a7b 25%,
        #9858ac 50%,
        #8134af 75%,
        #515bd4 100%
    );
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}
.outgoing-msg-box {
    float: right;
    width: 46%;
}

/* Styling the avatar */
.outgoing-chats-img {
    width: 50px;
    float: right;
    margin-right: 1rem;
}
